<div class="container">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Inscription</h4>
        </div>
        <div class="card-body">
            <form  #f="ngForm">
                <div class="row">
                    <div class="col-4">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" placeholder="Your Name" name="nom" required [(ngModel)]="nom" value="{{userConnected.nom}}">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" placeholder="Your Lastname" type="text" name="prenom" required [(ngModel)]="prenom" value="{{userConnected.prenom}}">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" placeholder="Email" type="text" name="email" required [(ngModel)]="email" value="{{userConnected.email}}">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" placeholder="password" type="password"  name="password" required [(ngModel)]="password" >
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" placeholder="Old Password" type="password"  name="confirmPassword" required [(ngModel)]="confirmPassword" >
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">
                                <i class="material-icons">
                                    cloud_upload</i>
                            </span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01" (change)="uploadFile($event)">
                            <label class="custom-file-label" style="color : blue" for="inputGroupFile01">
                                <a>Upload image</a></label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
            <button mat-raised-button (click)="savePost(f.value)" class="btn btn-danger pull-right">Inscription</button>

        </div>
    </div>
</div>
