<div class="card" style="margin-bottom:-25px">
    <div class="card-body card-size row">
        <div class="col-md-4">
            <img alt="product" [src]="'http://127.0.0.1:8000/uploads/'+product.product.imageName" style="width :100%; height : 100%">
        </div>
        <div class="col-md-8">
            <div class="row">
                <h4 class="card-title-b">{{ product.product.name }}</h4>
            </div>
            <div class="row full-height" align="center">
                <div class="col-md-6 small-line">
                    <h5><a [routerLink]="'/artisanat/frontshop/'+product.id">{{ product.shop.name }}</a></h5>
                    <h2>{{product.product.unitPrice}} DT</h2>
                    <button mat-stroked-button color="primary" (click)="addToProducts(product.product, product.quantity)"style="width: 95%;">
                        <i class="material-icons" style="margin-right: 15px;">
                            add_shopping_cart</i>Add To Cart
                    </button>
                    <br>
                    <button mat-stroked-button color="primary" style="width: 95%;" (click)="like(product.product)">
                        <i class="material-icons" style="color:red">
                            favorite</i>Like
                    </button>
                </div>
                <div class="col-md-6">
                    <i class="material-icons" style="color:red">
                        favorite</i>
                    <i>likes {{ product.product.likes }}</i>
                    <p>
                        {{ product.product.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>