<div class="container">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Update</h4>
        </div>
        <div class="card-body">
            <form  #f="ngForm">
                <div class="row">
                    <div class="col-4">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" placeholder="Name" name="nom" required [(ngModel)]="nom" >
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" placeholder="Lastname" type="text" name="prenom" required [(ngModel)]="prenom" >
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" placeholder="Email" type="text" name="email" required [(ngModel)]="email" >
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <select  name="roles" required [(ngModel)]="roles">
                        <option value="">--------</option>
                        <option value="ROLE_USER">Role User</option>
                        <option value="ROLE_SUPER_ADMIN">Role Super Admin</option>
                    </select>
                </div>
                <div class="row">
                    <span>Would you like to delete the photo?</span>
                    <input type="checkbox" name="avatar" [(ngModel)]="image">
                </div>
                <div class="clearfix"></div>
            </form>
            <button mat-raised-button (click)="update(f.value)" class="btn btn-danger pull-right">update</button>

        </div>
    </div>
</div>
