<h2>My Cart</h2>
<div style="height: 70vh;overflow: auto;">
    <table class="table table-hover">
        <thead class=" text-warning">
            <th>-</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let i of cart">
                <td></td>
                <td>{{ i.product.name }}</td>
                <td>{{ i.product.unitPrice }}</td>
                <td>
                    {{ i.quantity }} <mat-slider min="1" [max]="i.maxQuantity" step="1" [value]="i.quantity"
                        (change)="updateQuantity(i, $event)">
                    </mat-slider> max {{ i.maxQuantity }}
                </td>
                <td>
                    {{ i.product.unitPrice * i.quantity}}
                </td>
                <td>
                    <button mat-stroked-button color="warn" style="width: 90%;" (click)="deleteProduct(i.product.id)">
                        Delete
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                </td>
                <td style="color : #ff9800; font-size: 18px;">
                    Toatal: {{ total }}DT
                </td>
                <td>
                    <button mat-stroked-button color="primary" style="width: 90%;" (click)="placeOrder()">
                        Buy
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <h4>My Orders</h4>
    <table class="table table-hover">
        <thead class="text-warning">
            <th>Delivery status</th>
            <th>Order</th>
            <th>Quantity</th>
        </thead>
        <tbody>
            <tr *ngFor="let i of orders">
                <td><a>{{ i.status}}</a></td>
                <td>{{ i.product.name}}</td>
                <td>{{ i.quantity}}</td>
            </tr>
        </tbody>
    </table>
</div>