<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;">
    <img class="w3-image responsive" src="../../assets/img/discover-cover.jpg" alt="Experience">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white">
            <span class="w3-hide-small w3-text-light-grey">Experiences</span>
        </h1>
        <p class="w3-text-white">
            <span class="w3-padding w3-black w3-opacity-min">
                <b>Unique activities to explore your environment</b>
            </span>
        </p>
    </div>
</header>
<div class="main-content-act">
    <div class="container">
        <div class="row">
            <div id="myBtnContainer">
                <button class="btn btn-light btn-filter" onclick="filterSelection('nature')"> Nature</button>
                <button class="btn btn-success btn-filter" onclick="filterSelection('cars')"> Cars</button>
                <button class="btn btn-filter" onclick="filterSelection('people')"> People</button>
                <button class="btn btn-filter" onclick="filterSelection('people')"> People</button>
                <button class="btn btn-filter" onclick="filterSelection('people')"> People</button>
                <button class="btn btn-filter" onclick="filterSelection('people')"> People</button>
                <button class="btn btn-filter" onclick="filterSelection('people')"> People</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card h-90 " style="width: 18rem">
                <img src="../../assets/img/discover-cover.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="w3-opacity">Sat 28 Nov 2016</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-90 " style="width: 18rem">
                <img src="../../assets/img/discover-cover.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="w3-opacity">Sat 28 Nov 2016</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-90" style="width: 18rem">
                <img src="../../assets/img/discover-cover.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="w3-opacity">Sat 28 Nov 2016</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-90" style="width: 18rem">
                <img src="../../assets/img/discover-cover.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="w3-opacity">Sat 28 Nov 2016</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-90" style="width: 18rem">
                <img src="../../assets/img/discover-cover.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="w3-opacity">Sat 28 Nov 2016</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-90" style="width: 18rem">
                <img src="../../assets/img/discover-cover.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="w3-opacity">Sat 28 Nov 2016</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
