<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Add new Product</h4>
        <p class="card-category">Shop name here</p>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Product Name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Unit Price" type="number">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Product Type" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="City" type="text">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Country" type="text">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Postal Code" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Search Key Words</label>
                    <mat-form-field class="example-full-width">
                        <textarea matInput
                            placeholder="Tunisian Product"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save Product</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>