<div class="main-content" style="padding-left: 20px;padding-right: 20px;">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Search For Products</h4>
                </div>
                <div class="card-body">
                    <div>
                        <input mat-input (keyup)="search($event, inp)" #inp>
                    </div>
                    <div style="padding: 10px;">
                        Number of Likes
                    </div>
                    <div>
                      {{ likesFilter }}  <mat-slider value="0" [max]="maxLikes" step="1" (change)="updateLikes($event)"></mat-slider>
                        {{ maxLikes }}
                    </div>
                    <div style="padding: 10px;">
                        Price
                    </div>
                    <div style="padding: 10px;">
                        {{ priceFilter }} <mat-slider value="0" [max]="maxPrice" step="1" (change)="updatePrice($event)"></mat-slider>
                        {{ maxPrice }} DT
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <app-product-card *ngFor="let p of productsFilter" [product]="p"></app-product-card>
        </div>
    </div>
</div>